@model Bar.Models.Produto
<link rel="stylesheet" href="~/css/cardapio.css" />
@{
  ViewBag.Title = "Carrinho";
  decimal valor_total = 0;
}

<div class="container">
  <form asp-controller="Pedido" asp-action="Finalizar" method="POST">
    <table class="table" style="background: #28282d; color: white; padding: 50px;">
      <thead>
        <tr>
          <th>Descricao</th>
          <th>Valor</th>
          <th>Quantidade</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody id="tbody">
        @foreach (var produto in @ViewBag.Produtos)
        {
          <tr>
            <td>@produto.Descricao</td>
            <td>R$ @Math.Round(@produto.Valor, 2)</td>
            <td>@produto.Quantidade</td>
            <td>R$ @Math.Round((@produto.Quantidade * @produto.Valor), 2)</td>
          </tr>
          valor_total = valor_total + (produto.Quantidade * produto.Valor);
        }
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td>
            <h3>R$ @Math.Round(@valor_total, 2)</h3>
          </td>
        </tr>
      </tbody>
    </table>
    <a href="/pedido/finalizar" class="btn btn-primary">Finalizar Pedido</a>
    <a href="/produto/cardapio" class="btn btn-primary">Voltar</a>
  </form>
</div>