@using Bar.Models
@model Bar.Models.Mesa
<link rel="stylesheet" href="~/css/mesa.css" />
@{
  ViewBag.Title = "Painel de Controle";
}



<div class="container">
  @if (@ViewBag.Mesas != null && @ViewBag.Mesas.Count > 0)
  {
    <table class="table" style="background: #28282d; color: white; padding: 100px;">
      <thead>
        <tr>
          <th>Nº Mesa</th>
          <th>Situação</th>
        </tr>
      </thead>
      <tbody>
        @foreach (var mesa in @ViewBag.Mesas)
        {
          <tr>
            <td>@mesa.IdMesa</td>
            <td>@mesa.TextoStatus</td>
            <td><a href="/mesa/painel/@mesa.IdMesa">Acessar</a></td>
          </tr>
        }
      </tbody>
    </table>
  }
</div>