@model Bar.Models.Usuario
<link rel="stylesheet" href="~/css/cardapio.css" />
@{
  ViewBag.Title = "Perfil";
  int cont = 1;
}

<section class="container">

  @if (@ViewBag.Pedidos != null && @ViewBag.Pedidos.Count > 0)
  {
    <h2 style="color: white;">Lista de Pedidos</h2>
    <table class="table" style="background: #28282d; color: white; padding: 100px;">
      <thead>
        <tr>
          <th>#</th>
          <th>Valor</th>
          <th>Situação</th>
          <th>&nbsp</th>
        </tr>
      </thead>
      <tbody>
        @foreach (var pedido in @ViewBag.Pedidos)
        {
          <tr>
            <td>@cont</td>
            <td>R$ @Math.Round(@pedido.Valor, 2)</td>
            @if (@pedido.Status == 1)
            {
              <td>Em andamento</td>
            }
            else
            {
              <td>Pago</td>
            }
            <td><a href="/mesa/visualizarPedido/?id=@pedido.IdPedido&status=@pedido.Status">Visualizar</a></td>
          </tr>
          cont++;
        }
      </tbody>
    </table>
    <a href="/mesa/validarpedido" class="btn btn-sm btn-primary">Validar e encerrar pedidos</a>
  }
  else
  {
    <h2 style="color: white;">O cliente ainda não realizou nenhum pedido.</h2>
  }

  <a href="/mesa/index" class="btn btn-sm btn-secondary">Voltar</a>
</section>