@using Bar.Models
@model Bar.Models.Produto
@{
  ViewBag.Title = "Painel de Controle";
}


<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  header {
    background: #28282d;
    color: white;
  }

  body {
    background: #303038;
  }

  footer {
    background: #28282d;
  }

  .container2 {
    width: min(90vw, 800px);
    margin: auto;
    height: 100vh;
  }

  .menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    grid-gap: 1rem;
  }

  .product {
    background: #28282d;
    color: white;
    padding: 1rem 1rem;
    width: 100%;
    height: 300px;
    border-radius: 0.25rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;

    margin-bottom: 1rem;
  }

  .product img {
    width: 100%;
    height: 130px;
  }

  .div-qtd {
    width: 50px;
  }

  .input-qtd {
    width: 100px;
    border: 0px;
    border-radius: 0.25rem;
    outline: none;
    padding: 5px 10px 5px 10px;
    font-weight: bold;
  }
</style>

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <main class="container2">
    <section class="menu">
      <!--FAZER O ADICIONAR PRODUTO IGUAL AO TODO, USANDO A SESSÃO DE REPOSITORY-->
      @foreach (var produto in @ViewBag.produtos)
      {
        <div class="product">
          <img src="~/lib/img/wallpaper.jpg" alt="">
          <h6>@produto.Descricao</h6>
          <h2>R$ @produto.Valor</h2>

          <a href="/produto/cardapio1/@produto.IdProduto" class="btn btn-sm btn-primary">Selecionar produto</a>
        </div>
      }
    </section>
    <br />
    <br />
    <form asp-controller="Produto" asp-action="Pedido">
      <table id="tabela" class="table" style="background: #28282d; color: white; padding: 50px;">
        <thead>
          <tr>
            <th>Descricao</th>
            <th>Valor</th>
            <th>Quantidade</th>
          </tr>
        </thead>
        <tbody id="tbody">
          @if (@ViewBag.testeFinal != null)
          {
            foreach (var item in @ViewBag.testeFinal)
            {
              <tr>
                <td>@item.Descricao</td>
                <td>R$ @item.Valor</td>
                <td><input type="number" name="quantidade" asp-for="Quantidade"></td>
              </tr>
            }
          }
        </tbody>
      </table>
      <a href="/produto/pedido" class="btn btn-sm btn-primary">Ir para o Carrinho</a>
      <button>Carrinho</button>
    </form>


    <!--<button id="btnAdd" onclick="AdicionarProduto('produto.Descricao', 'produto.Valor')"
      class="btn btn-secondary btn-sm">Adicionar no carrinho</button>-->
    <!--<a href="/produto/carrinhoteste/@ViewBag.teste" class="btn btn-sm btn-primary">Ir para o Carrinho</a>-->

    <!--
    <button class="btn btn-primary btn-sm" OnClick="EnviarProdutos()">Carrinho</button>
    <a href="/produto/teste/produtos5" class="btn btn-sm btn-primary">Enviar</a>-->

    <!--
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Descrição</th>
          <th scope="col">Valor</th>
          <th scope="col">Quantidade</th>
        </tr>
      </thead>
      <tbody id="tbody">
        <tr>
          <td></td>
          <td></td>
          <td><input type="number" style="width: 50px;"></td>
        </tr>
      </tbody>
    </table>-->

  </main>
  <footer></footer>

  <script>
    let produtos5 = [];
    function AdicionarProduto(descricao, valor) {
      produtos5.push({ descricao: descricao, valor: valor });
      console.log(produtos5);
    }
  </script>


</body>

</html>
