@model Bar.Models.Usuario
<link rel="stylesheet" href="~/css/cardapio.css" />
@{
  ViewBag.Title = "Perfil";
  decimal valor_total = 0;
  int cont = 1;
}

<section class="container">
  <h2 style="color: white;">Lista de Produtos</h2>

  @if (@ViewBag.Produtos != null && @ViewBag.Produtos.Count > 0)
  {
    <table class="table" style="background: #28282d; color: white; padding: 100px;">
      <thead>
        <tr>
          <th>#</th>
          <th>Descricao</th>
          <th>Quantidade</th>
          <th>Valor Un.</th>
        </tr>
      </thead>
      <tbody>
        @foreach (var produto in @ViewBag.Produtos)
        {
          <tr>
            <td>@cont</td>
            <td>@produto.Descricao</td>
            <td>@produto.Quantidade</td>
            <td>R$ @Math.Round(@produto.Valor, 2)</td>
          </tr>
          valor_total = valor_total + (produto.Quantidade * produto.Valor);
          cont++;
        }
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td>
            <h3>R$ @Math.Round(@valor_total, 2)</h3>
          </td>
        </tr>
      </tbody>
    </table>

    @if (@ViewBag.Status == 1)
    {
      <a href="/usuario/pagamento" class="btn btn-sm btn-primary">Realizar Pagamento</a>
    }
    <a href="/usuario/perfil" class="btn btn-sm btn-secondary">Voltar</a>
  }
</section>